<section id="header">
  <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero">
          <!-- <h1><span>d</span>ayern <span>g</span>omez</h1> -->
          <h1><span>n</span>eryad</h1>
        </a>
      </div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li>
            <a
              href="/"

              data-after="Home"
              >{{ "home.texto" | translate }}</a
            >
          </li>
          <li>
            <a
              href="./#projects"
              onclick="event.preventDefault(); location.hash='projects';"
              data-after="Projects"
              >{{ "projects.texto" | translate }}</a
            >
          </li>
          <li>
            <a href="https://github.com/neryad" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://www.twitch.tv/neryad" target="_blank">Twitch</a>
          </li>
          <li>
            <a
              href="./#about"
              onclick="event.preventDefault(); location.hash='about';"
              data-after="About"
              >{{ "about.texto" | translate }}</a
            >
          </li>
          <li>
            <a
              href="mailto:neryadg@gmail.com?Subject=contact%20from%20web%20page"
              data-after="Contact"
              >{{ "contact.texto" | translate }}</a
            >
          </li>
          <li class="lngSpan"><span>|</span></li>
          <li
            [ngClass]="{ activeLng: activeLang == 'es' }"
            (click)="cambiarLenguaje('es')"
          >
            <a class="lngText">{{ "spanish.texto" | translate }}</a>
          </li>
          <li
            [ngClass]="{ activeLng: activeLang == 'en' }"
            (click)="cambiarLenguaje('en')"
          >
            <a class="lngText"> {{ "english.texto" | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
