<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">
        {{ "recent.texto" | translate }}
        <span>{{ "projects.texto" | translate }}</span>
      </h1>
    </div>
    <div class="all-projects">
      <div *ngFor="let project of projects" class="project-item">
        <div class="project-info">
          <h1>{{ project.name }}</h1>
          <h2>{{ project.subTitle }}</h2>
          <p>
            {{ project.description | translate }}
          </p>
          <a [href]="project.link" class="cta cta-pro">{{
            "see.texto" | translate
          }}</a>
        </div>
        <div class="project-img">
          <img [src]="project.img" alt="img" />
        </div>
      </div>
    </div>
  </div>
</section>
