<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">
        {{ "recent.texto" | translate }}
        <span>{{ "projects.texto" | translate }}</span>
      </h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1>Project 1</h1>
          <h2>Coding is Love</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto
            cupiditate voluptatum impedit unde rem ipsa distinctio illum quae
            mollitia ut, accusantium eius odio ducimus illo neque atque libero
            non sunt harum? Ipsum repellat animi, fugit architecto voluptatum
            odit et!
          </p>
        </div>
        <div class="project-img">
          <img
            src="https://images.unsplash.com/photo-1581090697136-6bb1384e9700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
            alt="img"
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 2</h1>
          <h2>Coding is Love</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto
            cupiditate voluptatum impedit unde rem ipsa distinctio illum quae
            mollitia ut, accusantium eius odio ducimus illo neque atque libero
            non sunt harum? Ipsum repellat animi, fugit architecto voluptatum
            odit et!
          </p>
        </div>
        <div class="project-img">
          <img
            src="https://images.unsplash.com/photo-1581090697136-6bb1384e9700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
            alt="img"
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 3</h1>
          <h2>Coding is Love</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto
            cupiditate voluptatum impedit unde rem ipsa distinctio illum quae
            mollitia ut, accusantium eius odio ducimus illo neque atque libero
            non sunt harum? Ipsum repellat animi, fugit architecto voluptatum
            odit et!
          </p>
        </div>
        <div class="project-img">
          <img
            src="https://images.unsplash.com/photo-1581090697136-6bb1384e9700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
            alt="img"
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 4</h1>
          <h2>Coding is Love</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto
            cupiditate voluptatum impedit unde rem ipsa distinctio illum quae
            mollitia ut, accusantium eius odio ducimus illo neque atque libero
            non sunt harum? Ipsum repellat animi, fugit architecto voluptatum
            odit et!
          </p>
        </div>
        <div class="project-img">
          <img
            src="https://images.unsplash.com/photo-1581090697136-6bb1384e9700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
            alt="img"
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 5</h1>
          <h2>Coding is Love</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto
            cupiditate voluptatum impedit unde rem ipsa distinctio illum quae
            mollitia ut, accusantium eius odio ducimus illo neque atque libero
            non sunt harum? Ipsum repellat animi, fugit architecto voluptatum
            odit et!
          </p>
        </div>
        <div class="project-img">
          <img
            src="https://images.unsplash.com/photo-1581090697136-6bb1384e9700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
            alt="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
